.container
  .page-header
    %h1.page-title= "Available Teams"
  .row
    .col-md-6.col-lg-4
      %h3.page-title Active Teams
      .list-group
        - GitlabInsights::ACTIVE_TEAMS.each do |team|
          - if @project
            = link_to team, group_project_team_path(@group.path, @project.path, team), class: 'list-group-item'
          - else
            = link_to team, group_team_path(@group.path, team), class: 'list-group-item'
  .row
    .col-md-6.col-lg-4
      %h3.page-title Deprecated Teams
      %p
        The following team dashboards are
        = link_to 'deprecated', 'https://docs.gitlab.com/ee/development/contributing/issue_workflow.html#team-labels'
        in favor of the
        = succeed '.' do
          = link_to 'Stage & Groups dashboards', group_stages_path(@group.path)

      .list-group
        - GitlabInsights::DEPRECATED_TEAMS.each do |team|
          - if @project
            = link_to team, group_project_team_path(@group.path, @project.path, team), class: 'list-group-item'
          - else
            = link_to team, group_team_path(@group.path, team), class: 'list-group-item'
