.alert.alert-primary.alert-icon
  %i.fe.fe-bell.mr-2{ aria: { hidden: true } }
  .notice
    = succeed '.' do
      The Quality dashboard will be deprecated in favour of
      = link_to 'Periscope', 'https://about.gitlab.com/handbook/business-ops/data-team/periscope-directory/'
      and
      = link_to 'GitLab Insights', 'https://docs.gitlab.com/ee/user/project/insights/index.html'
    = succeed '.' do
      For more info please see the
      = link_to 'deprecation plan', 'https://gitlab.com/gitlab-org/gitlab-insights/issues/116'
