= render partial: 'shared/bug_classification', locals: { source: @group }
= render partial: 'shared/project_level_links', locals: { group: @group, name: 'bug classification', link: method(:group_project_bug_classification_path) }
