= render partial: 'shared/bugs_by_stage', locals: { source: @group }
= render partial: 'shared/project_level_links', locals: { group: @group, name: 'bugs by stage', link: method(:group_project_bugs_by_stage_path) }
