= render partial: 'shared/issues_by_state', locals: { source: @group }
= render partial: 'shared/project_level_links', locals: { group: @group, name: 'issues by state', link: method(:group_project_issues_by_state_path) }
