= render partial: 'shared/monthly_merged_mrs', locals: { source: @group }
= render partial: 'shared/project_level_links', locals: { group: @group, name: 'monthly_merged_mrs', link: method(:group_project_monthly_merged_mrs_path) }

