.container
  .page-header
    %h1.page-title
      %strong= "`#{@group.path}` group dashboards"

  .row
    .col-md-6.col-lg-4
      %h3.page-title Top-level dashboards
      .list-group
        = link_to 'Monthly Merged MRs', group_monthly_merged_mrs_path(@group.path), class: 'list-group-item'
        = link_to 'Merge Request Throughputs', group_throughputs_path(@group.path), class: 'list-group-item'
        = link_to 'Average MRs Merged Per Author Per Month', group_average_mrs_per_month_path(@group.path), class: 'list-group-item'
        = link_to 'Bugs By Stage', group_bugs_by_stage_path(@group.path), class: 'list-group-item'
        = link_to 'Bugs By Severity', group_bugs_by_severity_path(@group.path), class: 'list-group-item'
        = link_to 'Bugs By Priority', group_bugs_by_priority_path(@group.path), class: 'list-group-item'
        = link_to 'Bug Classification', group_bug_classification_path(@group.path), class: 'list-group-item'
        = link_to 'Bugs Past SLO', group_bugs_past_slo_path(@group.path), class: 'list-group-item'
        = link_to 'Time to Close Bugs', group_time_to_close_bugs_path(@group.path), class: 'list-group-item'
        = link_to 'Feature Proposals by Team', group_feature_proposals_by_team_path(@group.path), class: 'list-group-item'
        = link_to 'Issues by State', group_issues_by_state_path(@group.path), class: 'list-group-item'
        = link_to 'EXPERIMENTAL - Merge Requests by State', group_mrs_by_state_path(@group.path), class: 'list-group-item'
        = link_to 'EXPERIMENTAL - Completed Deliverables vs non-Deliverables Per Milestone', group_completed_deliverables_per_milestone_path(@group.path), class: 'list-group-item'
        = link_to 'Regressions [MIGRATED]', group_regressions_path(@group.path), class: 'list-group-item'
        = link_to 'Missed Deliverables [MIGRATED]', group_missed_deliverables_path(@group.path), class: 'list-group-item'
        = link_to 'Average MRs Merged Per Author Per Milestone [Deprecated]', group_average_mrs_per_milestone_path(@group.path), class: 'list-group-item'

    .col-md-6.col-lg-4
      %h3.page-title Stage/Group & Team dashboards
      .list-group
        = link_to 'View dashboards for DevOps stages & groups', group_stages_path(@group.path), class: 'list-group-item'
        = link_to 'View dashboards for teams', group_teams_path(@group.path), class: 'list-group-item'

      %h3.page-title Project dashboards
      .list-group= link_to 'View the project dashboards', group_projects_path(@group.path), class: 'list-group-item'
