= render partial: 'shared/time_to_close_bugs', locals: { source: @group }
= render partial: 'shared/project_level_links', locals: { group: @group, name: 'time to close bugs', link: method(:group_project_time_to_close_bugs_path) }
