.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Deprecated - Average MRs Merged Per Author Per Milestone Charts
  %p
    Note: Bars in
    %span{ style: "background-color: #{GitlabInsights::COLOR_SCHEME[:apricot]}" }= GitlabInsights::COLOR_SCHEME[:apricot]
    are in progress, i.e. that the milestone is still active.
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Deprecated - Average MRs Merged Per Author Per Milestone (GitLab only, excluding Community Contributions)
        .card-body
          %canvas#average-mrs-milestone-team
        .card-body
          %div
            %div.text-wrap
              %p Chart to display the average number of merge requests per author that have been merged in a milestone. Only MRs without the `Community contribution` label will be considered.
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Deprecated - Average MRs Merged Per Author Per Milestone (Including Community Contributions)
        .card-body
          %canvas#average-mrs-milestone-all
        .card-body
          %div
            %div.text-wrap
              %p Chart to display the average number of merge requests per author that have been merged in a milestone.
