.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Bugs By Stage
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Cumulative Bugs Created Per Month Per Stage
        .card-body
          %canvas#cumulative-bugs-created-per-month-stage
        .card-body
          %div
            %div.text-wrap
              %p Displays number of open bugs created over time grouped by their stage label
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Bugs Created Per Month Per Stage
        .card-body
          %canvas#bugs-created-per-month-stage
        .card-body
          %div
            %div.text-wrap
              %p Displays number of open bugs created in a particular month grouped by their stage label
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Bugs Closed Per Month Per Stage
        .card-body
          %canvas#bugs-closed-per-month-stage
        .card-body
          %div
            %div.text-wrap
              %p Displays number of closed bugs closed in a particular month grouped by their stage label
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Bugs Created Per Day Per Stage
        .card-body
          %canvas#bugs-created-per-day-stage
        .card-body
          %div
            %div.text-wrap
              %p Displays number of open bugs created on a particular day grouped by their stage label
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Bugs Closed Per Day Per Stage
        .card-body
          %canvas#bugs-closed-per-day-stage
        .card-body
          %div
            %div.text-wrap
              %p Displays number of bugs closed on a particular day grouped by their stage label
