.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Bugs By Priority
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Cumulative open bugs by priority
        .card-body
          %canvas#cumulative-bugs-created-priority-month
        .card-body
          %div
            %div.text-wrap
              %p Displays number of open bugs created over time grouped by their priority label
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Open bugs by create month/priority
        .card-body
          %canvas#bugs-created-priority-month
        .card-body
          %div
            %div.text-wrap
              %p Displays number of open bugs created in a particular month grouped by their priority label
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Closed bugs by month/priority
        .card-body
          %canvas#bugs-closed-priority-month
        .card-body
          %div
            %div.text-wrap
              %p Displays number of bugs closed in a particular month grouped by their priority label
