.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Bugs By Severity
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Cumulative Open bugs by Severity
        .card-body
          %canvas#cumulative-bugs-created-severity-month
        .card-body
          %div
            %div.text-wrap
              %p Displays number of open bugs created over time grouped by their severity label
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Open bugs by Severity
        .card-body
          %canvas#bugs-created-severity-month
        .card-body
          %div
            %div.text-wrap
              %p Displays number of open bugs created in a particular month grouped by their severity label
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Closed bugs by Severity
        .card-body
          %canvas#bugs-closed-severity-month
        .card-body
          %div
            %div.text-wrap
              %p Displays number of bugs closed in a particular month grouped by their severity label
