- if @source
  = hidden_field_tag "team_label", @team, { :id=> "team-label" }

.container
  .page-header
    %h1.page-title
      %strong= "Team dashboard for `#{@source.path}`: #{@team}"
  .row.row-cards
    .col-6.col-sm-4.col-lg-2
      .card
        .card-body.p-3.text-center
          #team-bugs-severity-number
            .total.h1.m-0 0
          .text-muted.mb-4 Percentage Open Bugs Severitized
    .col-6.col-sm-4.col-lg-2
      .card
        .card-body.p-3.text-center
          #team-bugs-priority-number
            .total.h1.m-0 0
          .text-muted.mb-4 Percentage Open Bugs Prioritized
    .col-4
      .card
        .card-header
          %h3.card-title Open Bugs by Severity
        %canvas#team-bugs-severity-pie
    .col-4
      .card
        .card-header
          %h3.card-title Open Bugs by Priority
        %canvas#team-bugs-priority-pie
  .row.row-cards
    .col-lg-6
      .card
        .card-header
          %h3.card-title Completed Deliverables vs non-Deliverables Per Milestone
        .card-body
          %canvas#team-completed-deliverables-per-milestone
        .card-body
          %div
            %div.text-wrap
              %p Displays number of closed issues with vs without the `Deliverable` and `#{@team}` label grouped by their milestone
    .col-lg-6
      .card
        .card-header
          %h3.card-title Missed Deliverables Per Milestone
        .card-body
          %canvas#team-missed-deliverables-per-milestone
        .card-body
          %div
            %div.text-wrap
              %p Displays number of open issues with the `missed-deliverable` and `#{@team}` label grouped by their `missed:milestone` label
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Regressions Per Milestone
        .card-body
          %canvas#team-regressions-per-milestone
        .card-body
          %div
            %div.text-wrap
              %p Displays number of open issues with the `regression` and `#{@team}` label grouped by their `regression:milestone` label
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Weekly Throughput
        .card-body
          %canvas#team-mrs-per-week
        .card-body
          %div
            %div.text-wrap
              %p Displays number of merged MRs per week for the `#{@team}` team grouped by MR categories. These MRs could have been merged to any branch, not only `master`. The date used to place in a period is the date that the MR was actually merged. At the weekly level, we go back 12 weeks (1 quarter period).
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Monthly Throughput
        .card-body
          %canvas#team-mrs-per-month
        .card-body
          %div
            %div.text-wrap
              %p Displays number of merged MRs per month for the `#{@team}` team grouped by MR categories. These MRs could have been merged to any branch, not only `master`. The date used to place in a period is the date that the MR was actually merged. At the monthly level, we go back 24 months (2 year period)
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Cumulative open bugs by priority
        .card-body
          %canvas#cumulative-bugs-created-priority-month-team
        .card-body
          %div
            %div.text-wrap
              %p Displays number of open bugs created over time grouped by their priority label for the `#{@team}` label
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Open bugs by create month/priority
        .card-body
          %canvas#bugs-created-per-month-bar
        .card-body
          %div
            %div.text-wrap
              %p Displays number of open bugs created in a particular month for the `#{@team}` label
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Closed bugs by month/priority
        .card-body
          %canvas#bugs-closed-per-month-bar
        .card-body
          %div
            %div.text-wrap
              %p Displays number of closed bugs closed in a particular month for the `#{@team}` label
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Bugs Opened vs Closed Per Month
        .card-body
          %canvas#bugs-opened-closed-month-team
        .card-body
          %div
            %div.text-wrap
              %p Displays number of bugs opened and closed each month for the `#{@team}` label

- puts @team_for_link
- if @source.is_a? Group
  = render partial: 'shared/project_level_links', locals: { group: @group, name: view_name, link: method(group_project_path), id: @team_for_link || @team }
