.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Feature Proposal by Team
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Feature Proposal Created Per Month Per Team
        .card-body
          %canvas#proposals-created-per-month
        .card-body
          %div
            %div.text-wrap
              %p Displays number of open feature proposals created in a particular month grouped by their team label
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Feature Proposals Closed Per Month Per Team
        .card-body
          %canvas#proposals-closed-per-month
        .card-body
          %div
            %div.text-wrap
              %p Displays number of closed feature proposals closed in a particular month grouped by their team label
