.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Issues by State
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Issues Opened vs Closed Per Month
        .card-body
          %canvas#issues-opened-closed-month
        .card-body
          %div
            %div.text-wrap
              %p Displays number of issues opened and closed each month
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Bugs Opened vs Closed Per Month
        .card-body
          %canvas#bugs-opened-closed-month
        .card-body
          %div
            %div.text-wrap
              %p Displays number of bugs opened and closed each month
