.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Missed Deliverables per Milestone
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Missed Deliverables Per Milestone
        .card-body
          %canvas#missed-deliverables-per-milestone
        .card-body
          %div
            %div.text-wrap
              %p Displays number of open issues with the `missed-deliverable` label grouped by their `missed:milestone` label
