.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Regressions per Milestone
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Regressions Per Milestone
        .card-body
          %canvas#regressions-per-milestone
        .card-body
          %div
            %div.text-wrap
              %p Displays number of open issues with the `regression` label grouped by their `regression:milestone` label
