.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Time to Close Bugs
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Time to Close bugs (all bugs)
        .card-body
          %canvas#time-to-close-bugs
        .card-body
          %div
            %div.text-wrap
              %p Displays average days to close all bugs for each monthly period
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Time to Close bugs (S1)
        .card-body
          %canvas#time-to-close-bugs-s1
        .card-body
          %div
            %div.text-wrap
              %p Displays average days to close S1 bugs for each monthly period
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Time to Close bugs (S2)
        .card-body
          %canvas#time-to-close-bugs-s2
        .card-body
          %div
            %div.text-wrap
              %p Displays average days to close S2 bugs for each monthly period
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Time to Close bugs (S1 and Customer)
        .card-body
          %canvas#time-to-close-bugs-s1-customer
        .card-body
          %div
            %div.text-wrap
              %p Displays average days to close S1 Customer bugs for each monthly period
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Time to Close bugs (S2 and Customer)
        .card-body
          %canvas#time-to-close-bugs-s2-customer
        .card-body
          %div
            %div.text-wrap
              %p Displays average days to close S2 Customer bugs for each monthly period
