.container
  .page-header
    %h1.page-title
      %strong= "DevOps stage and group dashboards"

  .row
    .col-md-6.col-lg-4
      %h3.page-title Dev Section
      = render partial: 'stages_and_groups', locals: { group: @group, project: @project, section: GitlabInsights::DEV_STAGES }

      %h3.page-title CI/CD Section
      = render partial: 'stages_and_groups', locals: { group: @group, project: @project, section: GitlabInsights::CICD_STAGES }

    .col-md-6.col-lg-4
      %h3.page-title Ops Section
      = render partial: 'stages_and_groups', locals: { group: @group, project: @project, section: GitlabInsights::OPS_STAGES }

      %h3.page-title Secure Section
      = render partial: 'stages_and_groups', locals: { group: @group, project: @project, section: GitlabInsights::SECURE_STAGES }

      %h3.page-title Defend Section
      = render partial: 'stages_and_groups', locals: { group: @group, project: @project, section: GitlabInsights::DEFEND_STAGES }

    .col-md-6.col-lg-4
      %h3.page-title Growth Section
      = render partial: 'stages_and_groups', locals: { group: @group, project: @project, section: GitlabInsights::GROWTH_STAGES }

      %h3.page-title Enablement Section
      = render partial: 'stages_and_groups', locals: { group: @group, project: @project, section: GitlabInsights::ENABLEMENT_STAGES }
